<video src="output.mp4" autoplay controls>
  <track default label="default" src="output.vtt">
  <track label="debug info" src="output.debug.vtt">
</video>

<style>
  video::cue {font-size: .5em}
</style>
